@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: black;
}

.content_tittle {
    height: 200px;
    /* background-color:#AEF4CE; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('https://img.freepik.com/foto-gratis/fondo-textura-acuarela-verde-cal_1083-171.jpg');
    background-size: cover;
    width: 100%;
}

.content_tittle div {
    color: #fff;
    font-size: 40px;
}




/*HEADER */
header {
    width: 100%;
    background-color: #FFFFFF;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #FFFFFF !important;
}

.nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: black;
}

.navbar-expand-lg .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around !important;
}

#part-two {
    display: flex;
    justify-content: space-between !important;
}

#img-logo {
    margin-top: -14px;
}

.navbar-brand {
    display: none;
}

.content_ubi {
    height: 80px;
    width: 100%;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
}

.content_ubi p {
    margin: 0;
    margin-left: 15%;
}

@media (min-width:0px) and (max-width: 540px) {

    .content_tittle div {
        color: #fff;
        font-size: 30px;
    }

    .content_tittle img {
        height: 200px;
        width: 200px;
    }
}

@media (min-width:0px) and (max-width: 448px) {
    .content_tittle div {
        color: #fff;
        font-size: 20px;
    }

    .content_tittle img {
        height: 150px;
        width: 140px;
    }

}

@media (min-width:0px) and (max-width: 310px) {


    .content_tittle img {
        height: 120px;
        width: 100px;
    }

}

@media (min-width:0px) and (max-width: 270px) {


    .content_tittle img {
        height: 80px;
        width: 60px;
    }
}

@media (min-width:0px) and (max-width: 220px) {


    .content_tittle div {
        color: #fff;
        font-size: 17px;
    }
}

@media (min-width:0px) and (max-width: 200px) {


    .content_tittle div {
        color: #fff;
        font-size: 15px;
    }

    .content_tittle img {
        height: 40px;
        width: 30px;
    }
}


@media (max-width: 992px) {
    #logoHeader {
        display: none;
    }

    .container-fluid {
        display: grid !important;
        grid-template-columns: 30% 70%;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .navbar-brand {
        display: grid;
    }

    #imgMovile {
        margin: auto;
    }

    #img-logo {
        display: none;
    }

    .header-static {
        display: none;
    }

}

.titulo {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}
.titulo p{
    margin-top: 30px!important;
    padding: 20px 90px;
    text-align: center;
}

.especialidad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 5rem;
    padding: 40px;

}

.contend {
    border-radius: 20px;
    width: 300px;
    height: 500px;
    box-shadow: -6px 3px 32px 18px rgba(194, 194, 194, 0.85);
    -webkit-box-shadow: -6px 3px 32px 18px rgba(220, 220, 220, 0.85);
    -moz-box-shadow: -6px 3px 32px 18px rgba(221, 220, 220, 0.85);
}

.especialidad img {
    border-radius: 20px;
    width: 300px;
    height: 250px;
    padding: 0px auto;
    object-fit: cover;
}
.contend{
    transition: 1s all;
}
.contend:hover{
    transform: translateY(-30px) scale(1.03);
    transition: 1s all;
}

.contend h2 {
    text-align: center;
    width: 300px;
    padding: 10px;
}

.contend p {
    max-width: 300px;
    text-align: center;
    padding: 10px;
}

.blanco {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.derma {
    filter: brightness(1.2);
    mix-blend-mode: multiply;
}