body {
    /* background-image: url('../Imagenes/1208868.png'); */
    background-color: #d4ecdd;
    font-family: "Roboto", sans-serif;
    background-repeat:none;
    background-size: cover;
  }
  
  .container {
    /*border:1px solid white;*/
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: inline-flex;
    border-radius: 10px;
  }
  .backbox {
    opacity: 1;
    background-color: #152d35;
    width: 100%;
    height: 80%;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    display: inline-flex;
    border-radius: 20px;
  }
  
  .frontbox {
    background-color: white;
    border-radius: 20px;
    height: 100%;
    width: 50%;
    z-index: 10;
    position: absolute;
    right: 0;
    /* margin-right: 3%;
    margin-left: 3%; */
    transition: right 0.8s ease-in-out;
  }
  
  .moving {
    right: 45%;
  }

  .loginMsg,
  .signupMsg {
    width: 50%;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
  }
  
  .loginMsg .title,
  .signupMsg .title {
    font-weight: 300;
    font-size: 23px;
  }
  
  .loginMsg p,
  .signupMsg p {
    font-weight: 100;
  }
  
  .textcontent {
    color: white;
    margin-top: 65px;
    margin-left: 12%;
  }
  
  .loginMsg button,
  .signupMsg button {
    background-color: #345b63;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    box-sizing: content-box;
    font-weight: 300;
    padding: 10px;
    margin-top: 20px;
  }
  
  /* front box content*/
  .login,
  .signup {
    padding: 20px;
    text-align: center;
  }
  
  .login h2,
  .signup h2 {
    color: #152d35;
    font-size: 22px;
  }
  
  .inputbox {
    margin-top: 30px;
  }
  .login input,
  .signup input,select {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    border: none;
    margin-bottom: 20px;
    font-size: 12px;
    color: #666;
  }
  
  .login button,
  .signup button {
    background-color: #345b63;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 300;
    box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 10px;
    width: 60px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
  }

  .boton_registrar_paciente{
    padding: 10px 35px 10px 10px !important;
  }
  
  /* Fade In & Out*/
  .login p {  
    cursor: pointer;
    color: #112031;
    font-size: 15px;
  }
  
  .loginMsg,
  .signupMsg {
    transition: opacity 0.8s ease-in-out;
  }
  
  .visibility {
    opacity: 1;
  }
  
  .hide {
    display: none;
  }
  .password-container {
    position: relative;
  }

  .password-toggle {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3722/3722014.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

.btn_login_submit{
  cursor: pointer;
}
.btn_login_submit:hover{
  background-color: #48dd8b;
}

/* --------------------------- */


.ui-btn {
  --btn-default-bg: rgb(43, 45, 73);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(43, 45, 73);
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: #152d35;
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #d4ecdd;
  --default-btn-color: #fff;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo,Roboto Mono,monospace;
  /* 👆 this field should not be empty */
}

/* button settings 👆 */

.ui-btn {
  box-sizing: border-box;
  width: auto;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}




/* ------------------------------------- */

.magic_boton:hover{
  background-color: #152d35;
  color: #d4ecdd;
}